body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Archivo Narrow', sans-serif;
    background-color: rgb(255, 255, 255);
}
.navbar{
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    /* background-image: linear-gradient(to right,grey,white); */
    background-color:#fafafa;
    width: 98.5vw;
    height: 70px;
    font-weight: 800;
    box-shadow: 0px 10px 20px rgb(211, 205, 205);
    top: 0;
    position:fixed;
    /* margin-bottom: 75px; */
    z-index: 1;
    /* text-transform: uppercase; */
}
.logo img{
    width: auto;
    height: 67px;
    border-radius: 50%;
    margin-left: 8px;
    
}
.navbar .p1{
    display: flex;
    align-items: center;
    
    
}
.navbar .p2{
    display: flex;
    align-items: center;
    text-align: right;
    
    
}
.navbar .p1 li{
    list-style: none;
     margin: 2px 8px;
    padding: 2px 11px;
    
}
.navbar .p1 li a{
    padding-bottom: 3px;
    text-decoration: none;
    color:rgb(253, 6, 6);
}
.navbar .p1 li:hover{
    /* background-color: rgb(104, 188, 234);   */
    

    /* background-color:skyblue; */
}
.navbar .p1 li a:hover{
    border-bottom: 2px solid black;
    /* color: black; */
    color: orange;
    /* transition: 0.3s; */

}
.navbar .p2 li{
    list-style: none;
    margin: 2px 5px;
    padding: 2px 5px;

}
.navbar .p2 li a{
    text-decoration: none;
    color: rgb(246, 9, 9);
}
.navbar .p2 li a:hover{
    color: orange;
}
.navbar .p2 li i{
    color: rgb(242, 7, 7);
}
.navbar .p2 li i:hover{
    color: orange;
}
.share{
    background-color: black;
    margin-top: 50px;
}
.sharinglinks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88.7vh;
}
.sharinglinks li{
    color: white;
    list-style: none;
    padding-left: 40px;
}
.sharinglinks a{
    font-size: 70px;
}
.sharinglinks i:hover{
    color:orange ;
}
.sharinglinks i{
    color: white;
}
